body {

background-image:url("esport.jpg");
background-attachment: fixed;
background-repeat: no-repeat;
}
#MENU{
	font-weight:bold;
	padding:0px;
	margin:0px;
	}
	#menu li{
		background-color:#blue;
		border-style:solid;
		border-color:black;
		float:left;
		display: block;
		cursor:pointer;
		width:10vw;
		color:blue;
	    }
	#menu li li{
		float:none;
		
	    }
	#menu li li a{
		text-decoration:none;
		color:black;
		
		}
	#menu li ul{
		 display:none;
		 position:absolute;
		 padding:0px;
		}
		#menu li:hover ul{
			display:block; 
			color: yellow;
		}
	#menu li li:hover{
		 background-color:#8CE27F;
		
		}
	a{
	text-decoration:none;
	color:blue;
		
	}
	
	a:hover{
	text-decoration:none;
	color: yellow;
	font-weight:bold;
	}
		#div{
			position:relative;
			top:20%;
			left:15%;
		}
	

 
